<ion-view title="Liked Videos">
  <ion-content>
    <div class="list card">
      <div class="item row">
        <div class="col col-33">
          <img ng-src="{{playlist[0].snippet.thumbnails.default.url}}">
        </div>
        <div class="col">
          <h1>Liked Videos</h1>
          <span>By: {{playlist[0].snippet.channelTitle}}</span>
          <span>--{{playlist.length}} videos</span>
          <button id="playAll" class="button button-stable" ng-click="play(playlist, 0)">Play All</button>
        </div>
      </div>
      <div class="item item-avatar" ng-repeat="item in playlist track by $index" ng-click="play(playlist, $index)">
        <img ng-src="{{item.snippet.thumbnails.default.url}}">
        <h3>{{item.snippet.title}}</h3>
      </div>
    </div>
  <ion-content>
</ion-view>